<!-- @format -->

<footer class="footer mt-5 py-4 bg-dark text-light">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mb-3 mb-lg-0">
				<h5 class="fw-bold">
					<i class="bi bi-book-half"></i>

					Library Management System
				</h5>

				<p class="mb-1 text-light-emphasis">
					Smart Library Management System built with Django & Bootstrap.
				</p>

				<small class="text-secondary">
					Manage books, loans, ratings, favorites and users easily.
				</small>
			</div>

			<div class="col-lg-6 text-lg-end">
				<p class="mb-1">Graduation Project</p>

				<small class="text-secondary"> © 2026 Library Management System </small>
			</div>
		</div>
	</div>
</footer>
